.footer-links-mobile {
    margin-top: 25px;
}

.footer-links__container-mobile {
    background-color: #000000;
}

.footer-links__wrapper-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 20px;
}

.footer-links__title-mobile,
.footer-links__title--payments-mobile {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    color: #ffffff;
    margin: 0;
    flex-wrap: nowrap;
}

.footer-links__title-mobile {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    margin-top: 24px;
}

.footer-links__title-mobile img {
    position: absolute;
    right: 5px;
}

.footer-links__item-mobile:not(:last-child) {
    margin-bottom: 12px;
}

.footer-links__link-mobile {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #303030;
}

.footer-links__items-list-mobile {
    padding-left: 0;
    margin: 16px 0 16px 0;
}

.footer-links__items-list--social-networks-mobile {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 0;
}

.footer-links__items-list--social-networks-mobile li:not(:last-child) {
    margin-right: 9px;
}

.footer-links__buttom-mobile {
    width: 168px;
    background-color: transparent;
    outline: 0;
    border: 1px solid white;
    padding: 6px 25px;
    margin-bottom: 8px;
}

.footer-links__buttom-mobile a {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
}

.footer-links__items-list--payments-mobile {
    padding-left: 0;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.close-footer {
    display: none;
}
