.brandName--m3-shelf {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.nameContainer--m3-shelf {
    margin: 0;
    padding: 7px 0;
}

.nameWrapper--m3-shelf {
    max-width: 225px;
    text-align: center;
}

.element--m3-shelf-product {
    position: relative;
}

.element--m3-shelf-product :global(.vtex-button) {
    background: #292929;
    border: none;
    border-radius: 5px;
    color: $color-white;
}
